body{
    padding:0px;
    margin:0px;

}
.div{
    height:140px;
    width: 250px;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(25,255,255,1) 35%, rgba(0,212,255,1) 100%);
border: inset;
align-self: left;
margin-left: 530px;
padding: 100px;
padding: 120px 120px;
}
.login-cycle:hover{
    background-color: rgb(92, 13, 92);
}
.social-icon{
    padding:8px
}
.social-icon:hover{
  color: blue;
}