<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">


    <title>Depreciation</title>

    <!-- Custom fonts for this template -->
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/css/main-style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/spinner.css">

  </head>

  <body id="page-top">
    
  <div class="preloader is-active">
    <div class="preloader__wrap">
      <div class="spinner-grow text-danger" style="background-color: purple;"></div>
    </div>
  </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav sidebar sidebar-dark accordion bg-purple"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="index.html"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-house fa-2x"></i>
          </div>
          <div class="sidebar-brand-text mx-3">
            <b style="font-family: Georgia; color: gold">Mi</b>-<i>Assets</i>
          </div>
        </a>

        <li class="nav-item side-nav">
          <a class="nav-link collapsed" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Add</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item  side-nav">
          <a
            class="nav-link collapased"
            href="/add-renter"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-fw fa-user"></i>
            <span>Renters</span>
          </a>
        </li>

        <!-- Nav Item - fixed assets Collapse Menu -->
        <li class="nav-item side-nav">
          <a
            class="nav-link collapsed"
            href="/add-asset"
            aria-expanded="true"
            aria-controls="collapseUtilities"
          >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Fixed assets</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">information</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item side-nav">
          <a
            class="nav-link "
            href="/renters"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <i class="fas fa-fw fa-users"></i>
            <span>Rentals Details</span>
          </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item side-nav">
          <a class="nav-link" href="/assets">
            <i class="fas fa-fw fa-folder"></i>
            <span>Assets Details</span></a
          >
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item side-nav active">
          <a class="nav-link" href="/depreciate">
            <i class="fas fa-fw fa-egg"></i>
            <span>Depreciation</span></a
          >
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="/reminder">
            <i class="fas fa-fw fa-mail-bulk"></i>
            <span>Reminders</span></a
          >
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="/profit">
            <i class="fas fa-fw fa-kiwi-bird"></i>
            <span>Profit</span></a
          >
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#my_Modal">
            <i class="fas fa-fw fa-sign-out"></i>
            <span>Sign Out</span></a
          >
        </li>
<!-- sign out model -->

<!-- The Modal -->
<div class="modal" id="my_Modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Did you want to sign Out?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to long out?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a type="button" href class="btn btn-primary" >Yes</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>

    </div>
</div>
</div>













        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Divider -->
        <div class="sidebar-card d-none d-lg-flex">
          <img
            class="sidebar-card-illustration mb-2"
            src="/img/profile.jpg"
            alt="..."
          />
          <p class="text-center mb-2">
            <strong>Mr.Admin</strong> welcome to Mi assets,
          </p>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
              <button
                id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3"
              >
                <i class="fa fa-bars"></i>
              </button>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="searchDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

  <!-- Nav Item - Alerts -->
  <li class="nav-item dropdown no-arrow mx-0 " >
    <a class="nav-link dropdown-toggle" href="#" id="AlertsDropdown" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">      
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">3+</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="AlertsDropdown">
        <h6 class="dropdown-header mx-0" style="background-color: purple; ">
            Alerts Center
        </h6>
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
                <div class="icon-circle bg-purple">
                    <i class="fas fa-file-alt text-white"></i>
                </div>
            </div>
            <div>
                <div class="small text-gray-500">December 12, 2019</div>
                <span class="font-weight-bold">A new monthly report is ready to download!</span>
            </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
                <div class="icon-circle bg-success">
                    <i class="fas fa-donate text-white"></i>
                </div>
            </div>
            <div>
                <div class="small text-gray-500">December 7, 2019</div>
                $290.29 has been deposited into your account!
            </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
                <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
            </div>
            <div>
                <div class="small text-gray-500">December 2, 2019</div>
                Spending Alert: We've noticed unusually high spending for your account.
            </div>
        </a>
        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
    </div>
</li>
<!-- Nav Item - Messages -->
              <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-envelope fa-fw"></i>
                      <!-- Counter - Messages -->
                      <span class="badge badge-danger badge-counter">7</span>
                  </a>
                  <!-- Dropdown - Messages -->
                  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                      aria-labelledby="messagesDropdown">
                      <h6 class="dropdown-header" style="background-color: purple;">
                          Message Center
                      </h6>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                          <div class="dropdown-list-image mr-3">
                              <img class="rounded-circle" src="img/profile.jpg"
                                  alt="...">
                              <div class="status-indicator bg-success"></div>
                          </div>
                          <div class="font-weight-bold">
                              <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                  problem I've been having.</div>
                              <div class="small text-gray-500">Emily Fowler 路 58m</div>
                          </div>
                      </a>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                          <div class="dropdown-list-image mr-3">
                              <img class="rounded-circle" src="img/profile.jpg"
                                  alt="...">
                              <div class="status-indicator"></div>
                          </div>
                          <div>
                              <div class="text-truncate">I have the photos that you ordered last month, how
                                  would you like them sent to you?</div>
                              <div class="small text-gray-500">Jae Chun 路 1d</div>
                          </div>
                      </a>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                          <div class="dropdown-list-image mr-3">
                              <img class="rounded-circle" src="img/profile.jpg"
                                  alt="...">
                              <div class="status-indicator bg-warning"></div>
                          </div>
                          <div>
                              <div class="text-truncate">Last month's report looks great, I am very happy with
                                  the progress so far, keep up the good work!</div>
                              <div class="small text-gray-500">Morgan Alvarez 路 2d</div>
                          </div>
                      </a>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                          <div class="dropdown-list-image mr-3">
                              <img class="rounded-circle" src="img/profile.jpg"
                                  alt="...">
                              <div class="status-indicator bg-success"></div>
                          </div>
                          <div>
                              <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                  told me that people say this to all dogs, even if they aren't good...</div>
                              <div class="small text-gray-500">Chicken the Dog 路 2w</div>
                          </div>
                      </a>
                      <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                  </div>
              </li>

  <div class="topbar-divider d-none d-sm-block"></div>

  <!-- Nav Item - User Information -->
  <li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="mr-2 d-none d-lg-inline text-gray-600 small">Mr. Admin</span>
      <img class="img-profile rounded-circle" src="/img/profile.jpg" />
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="/profile">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
      </a>
      <a class="dropdown-item" href="#">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        Settings
      </a>
      <a class="dropdown-item" href="#">
        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
        Activity Log
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </div>
  </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Depreciation</h1>
            <p class="mb-4">
             These are the assets that deprecited during the year of 2023 <br>
              <a class="btn btn-primary my-2" href=""  data-bs-toggle="modal" data-bs-target="#myModal"
                >Add Depreciation</a
              >
            </p>

          
          </div>
          
          <!-- The Modal -->
          <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">New asset Depreciation</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body bg-purple" >
                  <div class="">
                    <div class="container">
                      <form>
                      <div class="row">
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="" class="form-label text-white">Asset Name</label>
                            <input type="text"
                              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="" class="form-label text-white">Original Amount</label>
                            <input type="text"
                              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="" class="form-label text-white">Expenses</label>
                            <input type="text"
                              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="" class="form-label text-white">Total Amount</label>
                            <input type="text"
                              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="" class="form-label text-white">Rent (Jan-Jun) </label>
                            <input type="text"
                              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="" class="form-label text-white ">Rent (July-Dec) </label>
                            <input type="text"
                              class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                          </div>
                        </div>
                      </div> 
                     <center><div class=" mx-auto">
                        <button class="btn btn-primary w-25">Add</button>
                      </center> 
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer bg-white">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>




























            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Depreciation value
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Asset Name</th>
                        <th>Original Amount</th>
                        <th>Expenses</th>
                        <th>Total Amount</th>
                        <th>Rent Jan-Jun</th>
                        <th>Rent July-Dec</th>
                        <th>Total Rent</th>
                        <th>Depreciate</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Asset Name</th>
                        <th>Original Amount</th>
                        <th>Expenses</th>
                        <th>Total Amount</th>
                        <th>Rent Jan-Jun</th>
                        <th>Rent July-Dec</th>
                        <th>Total Rent</th>
                        <th>Depreciate </th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>

                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                         <td>#240,000</td>  
                         <td>#100,000, Depreciate</td>
                      </tr>
                      <tr>
                        <td>belgium Hotel</td>
                        <td>#300,0000</td>
                        <td>#40,000</td>
                        <td>#340,000</td>
                        <td>#120,000</td>
                        <td>#120,000</td>
                        <td>#240,000</td>
                        <td>#100,000, Depreciate</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
   <!-- End of Main Content -->
   <%- include("patials/footer.ejs") %>
   <!-- Bootstrap core JavaScript-->
   <script src="/js/bootstrap.bundle.min.js"></script>