<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">
    <title>login page</title>
       <!-- Custom fonts for this template -->
       <link
       href="/css/bootstrap.min.css"
       rel="stylesheet"
       type="text/css"
     />
     <link href="/css/main-style.css" rel="stylesheet" type="text/css" />
    
 
     <!-- Custom styles for this template -->
     <link href="/css/sb-admin-2.css" rel="stylesheet" />
     <link rel="stylesheet" href="/css/animate.css">
 
     <!-- Custom styles for this page -->
     <link
       href="/vendor/datatables/dataTables.bootstrap4.min.css"
       rel="stylesheet"
     />
     <link rel="stylesheet" href="/css/all.min.css" />
     <link rel="stylesheet" href="/css/spinner.css">

</head>
<body>
  
  <div class="preloader is-active">
    <div class="preloader__wrap">
      <div class="spinner-grow text-danger" style="background-color: purple;"></div>
    </div>
  </div>
    <div class="card text-white w-50 mx-auto mt-5 ">
      <div class="card-body bg-purple rounded-start">
        <div class="row rounded-0">
            <div class="col-6">
              <p> OR log in with social media accounts</p>
              <div class=" ml-4 w-100 p-3 px-3">

                <a href="#" class="text-white wow flash data-wow-duration = '3s' data-delay ='2s' "><i class="fab fa-facebook fa-2x social-icon"></i></a>
                <a href="#" class="text-white wow shake data-wow-duration = '3s' data-delay ='1s'"><i class="fab fa-twitter fa-2x social-icon"></i></a>
                <a href="#" class="text-white wow slideInLeft data-wow-duration = '2s' data-delay ='3s'"><i class="fab fa-linkedin fa-2x social-icon" aria-hidden="true"></i></a>
                <a href="#" class="text-white wow slideInRight data-wow-duration = '3s' data-delay ='2s'"><i class="fab fa-instagram fa-2x social-icon"></i></a>
              </div> <br>
      <div class=""><a class="btn btn-success border-start w-100 wow slideInRight data-wow-duration = '3s'" href="/create-account">Create Account</a></div>  
         <br>
        <button class='btn btn-success border-end w-100 wow slideInLeft data-wow-duartion="2s" data-wow-delay="1s"'>Forget Password</button>

                </div>
        
            <div class="col-6 rounded-pill login-cycle " >
                <div class="card-body">
                    <div class="card-body ">
                        <form class="wow tada" method="POST" action="">
                            <div class="form-group wow flash">
                                <label for="my-input ">Username/Email</label>
                                <input id="my-input" class="form-control" type="text" name="email">
                            </div>
                            <div class="form-group wow shake">
                                <label for="my-input">Password</label>
                                <input id="my-input" class="form-control" type="password" name="password">
                            </div>
                            <div class="form-group">
                            <center>  <button class="btn btn-primary mx-auto" type="submit">Sign In</button></center>  
                            </div>

                        </form>
                      </div>
                </div>

            </div>
        </div>
        
      </div>
    </div>
    <script src="/js/all.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script>
      new WOW().init();
  </script>
<%- include("patials/footer.ejs") %>